<!doctype html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8" />
	<title>My App</title>
	<base href="" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" style="color: #fff" href="#">ISHA'S APP</a>
			</div>
			<ul class="nav navbar-nav" style="flex-direction: row">
				<li><a href="#">Home</a></li>
			</ul>
		</div>
	</nav>
 	<div class="container" ng-view></div>

	<!-- ### JavaScript Modules. ### -->

	<!-- Load vendor scripts. -->
	<script async defer src="https://apis.google.com/js/api.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-resource.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://npmcdn.com/zone.js@0.8.17/dist/zone.js"></script>
    <script src="https://npmcdn.com/core-js@2.6.5/client/shim.min.js"></script>
    <script src="https://npmcdn.com/rxjs@5.0.0-beta.6/bundles/Rx.umd.js"></script>
    <script src="https://npmcdn.com/@angular/core@2.0.0-rc.5/bundles/core.umd.js"></script>
    <script src="https://npmcdn.com/@angular/common@2.0.0-rc.5/bundles/common.umd.js"></script>
    <script src="https://npmcdn.com/@angular/compiler@2.0.0-rc.5/bundles/compiler.umd.js"></script>
    <script src="https://npmcdn.com/@angular/platform-browser@2.0.0-rc.5/bundles/platform-browser.umd.js"></script>
    <script src="https://npmcdn.com/@angular/platform-browser-dynamic@2.0.0-rc.5/bundles/platform-browser-dynamic.umd.js"></script>
    <script src="https://surveyjs.azureedge.net/1.0.84/survey.angular.js"></script>
    <link href="https://surveyjs.azureedge.net/1.0.84/survey.css" type="text/css" rel="stylesheet"/>
	<!-- Load AngularJS application module. -->
	<script type="text/javascript" src="/js/main.js"></script>

	<!-- Load Controllers. -->
	<script type="text/javascript" src="/js/controllers/home/homeController.js"></script>
	<script type="text/javascript" src="/js/controllers/survey/surveyController.js"></script>
	<script type="text/javascript" src="/js/controllers/login/loginController.js"></script>
	<script type="text/javascript" src="/js/controllers/login/registerController.js"></script>

</body>
</html>